%p#notice= notice
.container-fluid
  %p
    %strong Email:
    = @user.email
  %p
    %strong Firstname:
    = @user.firstname
  %p
    %strong Last name:
    = @user.last_name
  = link_to 'Edit', edit_user_path(@user)
  |
  = link_to 'Back', users_path
  |
  = link_to 'Show Histories', user_histories_path(@user)